/* Navbar formatting */
.navbar{
  background:white;
}

:root {
  --ppp-transition: 0.3s;
}


#ppp-img {
  transition: var(--ppp-transition);
}

h1 {
  color: blue;
  font-size: 80px;
}

h2 {
  color: blue;
  font-size: 20px;
}

h3 {
  color: blue;
  font-size: 15px;
}

.with-margin {
  margin-bottom: 50px;
}

.with-margin-left {
  margin-left: 120px;
}

.cardPics {
  object-fit: cover;
  border-bottom: 1px solid #000;
}

/* Zoom In #1 */
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Formatting card images - full width of card */
.card-img-top {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

/* Formatting colour of blue section */
.blueSection {
  background-color: blue;
}

/* Spacer to add height in responsive manner */
.spacer{
  height: 40vh;
}


/* Formatting of svg wave used in footer */
.footSvg{
  background: url("Images/blueWave.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container img {
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 5px;
}

.container img:hover {
  transform: scale(1.5);
}


.pic-outline {
  img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
}


.pic-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.pic-outline:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.pic-outline:hover::before, .pic-outline:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: blue;
  border-radius: 50%;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.pic-outline:hover:after {
  background: purple;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}


.video {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

a:hover .video {
  opacity: 1;
}