:root {
  --ppp-transition: 0.3s;
}

.wrapper{background: url('Images/Blob1.png') repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}



#ppp-img {
  transition: var(--ppp-transition);
}

h1 {
	color: blue;
  font-size: 80px;
}

h2 {
	color: blue;
  font-size: 20px;
}

h3 {
	color: blue;
  font-size: 15px;
}

.with-margin {
  margin-bottom: 50px;
}

.with-margin-left {
  margin-left: 120px;
}

.cardPics {object-fit: cover;}